:root {
    --body-bg: rgb(204, 204, 204);
    --white: #ffffff;
    --darkWhite: #ccc;
    --black: #000000;
    --dark: #615c60;
    --themeColor: #1958F5;
    --pageShadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}


/* Font Include */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
.page {
    background: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: var(--pageShadow);
    margin-top: 20px;
    margin-bottom: 20px;
}

.page {
    max-width: 21cm;
    max-height: 29.7cm;
}

.main-body {
    padding: 40px;
}

@media only screen and (max-width: 580px) {
    .page {
        box-shadow: none;
    }
    .main-body {
        padding: 30px 10px 10px 10px !important;
    }
}

@media only screen and (max-width: 420px) {
    body {
        font-size: 11px;
    }
    .page {
        margin: 0 auto;
        width: auto;
        max-height: auto;
        box-shadow: none;
    }
    .main-body {
        padding: 30px 10px 10px 10px !important;
    }
    .top-content {
        padding-bottom: 10px !important;
    }
    .top-left .graphic-path {
        height: 30px !important;
    }
    .top-left .graphic-path p {
        height: 25px !important;
        right: -10px !important;
    }
    .top-left .graphic-path::before {
        height: 13px !important;
        left: 13px !important;
        top: -13px !important;
    }
    .top-left .graphic-path::after {
        height: 22px !important;
        width: 12px !important;
        top: -14px !important;
    }
    h2 {
        font-size: 13px !important;
    }
}

.bb {
    border-bottom: 3px solid var(--darkWhite);
}


/* Top Section */

.top-content {
    padding-bottom: 15px;
}

.logo img {
    height: 50px;
}

.top-left p {
    margin: 0;
}

.top-left .graphic-path {
    height: 40px;
    position: relative;
}

.top-left .graphic-path::before {
    content: "";
    height: 20px;
    background-color: var(--dark);
    position: absolute;
    left: 15px;
    right: 0;
    top: -15px;
    z-index: 2;
}

.top-left .graphic-path::after {
    content: "";
    height: 22px;
    width: 17px;
    background: var(--black);
    position: absolute;
    top: -13px;
    left: 6px;
    transform: rotate(45deg);
}

.top-left .graphic-path p {
    color: var(--white);
    height: 40px;
    left: 0;
    right: -40px;
    text-transform: uppercase;
    background-color: var(--themeColor);
    font: 26px;
    z-index: 3;
    position: absolute;
    padding-left: 10px;
}


/* User Store Section */

.store-user {
    padding-bottom: 25px;
    margin-top: 25px;
}

.store-user p {
    margin: 0;
    font-weight: 600;
}

.store-user .address {
    font-weight: 400;
}

.store-user h2 {
    color: var(--themeColor);
    font-family: 'Rajdhani', sans-serif;
}

.extra-info p span {
    font-weight: 400;
}


/* Product Section */

thead {
    color: var(--white);
    background: var(--themeColor);
}

.table td,
.table th {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

tr th:first-child,
tr td:first-child {
    text-align: left;
}

.media p {
    font-weight: 400;
    margin: 0;
}

.media p.title {
    font-weight: 600;
}


/* Balance Info Section */

.balance-info {
    display: block;
    margin: 0 auto;
    padding: 0 auto;
}

.balance-info .table td,
.balance-info .table th {
    padding: 0;
    border: 0;
}

.balance-info tr td:first-child {
    font-weight: 600;
}

tfoot {
    border-top: 2px solid var(--darkWhite);
}

tfoot td {
    font-weight: 600;
}


/* Footer Section */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    width: max-content;
    padding: 3px;
    border: 2px solid var(--darkWhite);
    background-color: var(--white);
    display: block;
}


/* GST */

.gst-btn {
    text-align: right !important;
}

.subtotal-value {
    text-align: end !important;
}

.company-name {
    color: #1958F5;
}